<nav class="main-menu">
  <img src="/img/moritz.schulze.small.jpg" class="menu-image mobile-hidden" alt="Moritz Schulze"/>
  <ul class="tree">  
    <li>
      <a href="/" class="{% if page.url == "/" %}active{% endif %}">home</a>
      <ul>
        <li>
          <a class="{% if page.url == "/projects.html" %}active{% endif %}" href="/projects.html">projects</a>
  	  <ul class="mobile-hidden">
            <li>
              <a href="/projects.html#node-spotify">node-spotify</a>
	    </li>
            <li>
              <a href="/projects.html#spring-oauth-example">spring-oauth-example</a>
            </li>
            </ul>
        </li>
        <li>
          <a class="{% if page.url == "/music.html" %}active{% endif %}" href="/music.html">music</a>
        </li>
        <li>
          <a class="{% if page.url contains "/blog/" %}active{% endif %}" href="/blog/">blog</a>
        </li>
        <li class="mobile-hidden">
          <a href="http://berlinpixels.com" target="_blank">berlinpixels</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
